/*
 * RemarkJS stylesheet for Devoxx 2016 conference.
 *
 * 30-09-2016
 * Complements of Joost den Boer / DiversIT Europe
 */
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.remark-slide-content {
  padding-left: 6em;
}
.logo {
  background-origin: content-box; /* to have padding with background image */
  background-size: contain;       /* to keep image in box and auto size it */
  /*background-position: center;*/
  background-repeat: no-repeat;
  width: 82px;
  height: 606px;
  /* margin-left: -75px; */
  /* margin-top: -152px; */
  /* display: block; */
  /* float: left; */
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 10px;
}
.white {
  background-image: url(../../images/devoxx-logo-black-82-626.png);
}
.black {
  background-image: url(../../images/devoxx-logo-white-82-626.png);
  background-color: black;
}
.footer {
  position: fixed;
  bottom: 0px;
  background-color: #ED9F2D;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -120px;
  width: 100%;
  font-weight: bold;
  font: 32px arial;
}
.hashtag {
  float: left;
}
.twitter {
  float: right;
  padding-right: 75px;
}
