<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    <!-- Load a custom css template based conference and year -->
    <link href="remarkjs/css/{{ page.conference }}-{{ page.year }}.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<!--
 RemarkJS templates must be defined here otherwise layout is screwed up.
 Also, it must be align on the left, just like the Markdown is in the 'index.html' page
 otherwise the layout is messed up also.
-->
     <textarea id="source">
name: template-black
layout: true

.logo.black[]
.footer[.hashtag[&nbsp;&num;{{ page.conference }} &num;{{ page.hashtag }}] .twitter[@{{page.twitter}}]]
---
name: template-white
layout: true

.logo.white[]
.footer[.hashtag[&nbsp;&num;{{ page.conference }} &num;{{ page.hashtag }}] .twitter[@{{page.twitter}}]]
---
{{ content }}
    </textarea>
     <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
       var slideshow = remark.create({
         //nice highlightStyles: "default", "monokai", "vs", "tomorrow",
         highlightStyle: "vs",
         highlightLines: true,
         ratio: '16:9'
       });
    </script>
  </body>
</html>
